---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import tools from "@images/automated-tools.avif";
import construction from "@images/construction-image.avif";
import dashboard from "@images/dashboard-image.avif";
import featureImage from "@images/features-image.avif";
import heroImage from "@images/hero-image.png";

const avatarSrcs: Array<string> = [];
---

<MainLayout>
  <HeroSection
    title=`Proyek Terbaik Anda \n <span
        class="text-yellow-500 dark:text-yellow-400">PT Perancah Pro Alat</span>`
    subTitle="Top-quality construction materials and expert construction services for every project need."
    primaryBtn="Contact Our Sales Team"
    primaryBtnURL="/contact"
    secondaryBtn="Contact Our Sales Team"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">250 +</span> Projects`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="At Perancah Pro Alat, we tackle the unique challenges encountered in the hardware and construction sectors. From cutting-edge tools to expert services, we're dedicated to helping you overcome obstacles and achieve your goals."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Perancah Pro Alat</span>'s offerings to perfectly suit your project needs.`
    tabs={[
      {
        heading: "Durable Materials",
        content:
          "Build with confidence using our strong, high-quality materials. Designed to withstand the toughest conditions, our products ensure longevity and reliability in every project.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Bulk Purchasing",
        content:
          "Take advantage of cost savings with our bulk purchasing options. Buy in large quantities and get the best value for your investment, ensuring you have everything you need for your projects.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Freshly Painted",
        content:
          "Give your projects a polished finish with our freshly painted products. Enjoy the clean, vibrant appearance of materials that are ready to enhance the aesthetic appeal of your builds.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At PT Perancah Pro Alat, we ensure a swift project building experience. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "Perancah Pro Alat dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Kevin Fang",
        role: "Chief Operating Officer | Jagat Inc.",
        avatarSrc:
          "https://static.vecteezy.com/system/resources/thumbnails/003/337/584/small/default-avatar-photo-placeholder-profile-icon-vector.jpg",
      },
    ]}
    statistics={[
      {
        count: "5,000+",
        description:
          "Successful Projects — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="PT Perancah Pro Alat is the leading supplier of framework materials of all types"
    url="/contact"
  />
</MainLayout>
